.class_iframe{
	width:100vw;
}
.class_zero_mar{
	margin:0px;
}
#buttonganigeru{
    color:#ffffef;
    background-color: #0fffef;
    position:absolute;
    top:200px;
    right: 400px;
}

#buttonganigeru:hover{
    color:#f0000f;
    background-color: #000000;
    top:260px;
    right: 380px;
}

#himitsu{
    color :#ffffff;
    cursor:default;
}
#himitsu:hover{
    color :#ffffff;
    cursor:default;
}

header{
	background-color: #99aaaa;
	margin: 0px;
	border:0px;
	padding: 0px;
}
#id_main{
	height:93vh;
	width:100vw;
	margin:0px;
	padding:0px;
	
}
#menu{
	width:100vw;
	height:7vh;
	margin: 0px;
	border:0px;
	padding: 0px;
}
nav ul li{
	display: inline;
	float: left;
	background-color: #99aaaa;
	list-style-type: none;
	border-top: 1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;

}
nav ul li:hover{
	background-color: #889999;

}
nav ul li:active{
	background-color: #778888;
	border-top: 1px solid #000000;
	border-left:1px solid #000000;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;

}
nav ul li a{
	color: #eeeeee;
	-webkit-user-drag: none;
	text-decoration: none;
}
nav ul li a:active{
	color: #000000;
}
nav ul{
	background-color: #ff00ff;
}
nav{
	margin: 0px;
	border:0px;
	padding: 0px;
}

#id_nikki{
	width: 100%;
	height:200%;
}
#id_subpage{
	height: 100vh;
	width: 100vw;
}
